.about {
  margin-bottom: 100px;

  @media (max-width: 1280px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  // .about__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    gap: 60px;

    @media (max-width: 1080px) {
      gap: 30px;
      grid-template-columns: 1fr;
    }
  }

  // .about__title

  &__title {
    margin-top: 14px;

    @media (max-width: 1280px) {
      margin-top: 6px;
    }
  }

  // .about__blocks

  &__blocks {
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 20px;

      @media (max-width: 440px) {
        grid-template-columns: 1fr;
      }

      .about__blocks-item {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg, #f3f3f3 0%, #fff 100%);

        border-radius: 24px;
        padding: 30px 18px;
        position: relative;

        overflow: hidden;

        min-height: 420px;

        @media (max-width: 440px) {
          min-height: 360px;
          padding: 20px;
        }

        img {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          bottom: -60px;

          width: 100%;
        }
      }
    }

    .bottom {
      .about__blocks-item {
        border-radius: 24px;
        padding: 30px;

        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(
          180deg,
          rgba(28, 43, 130, 0.96) 0%,
          rgba(86, 111, 255, 0.96) 100%
        );
        position: relative;

        display: flex;
        justify-content: space-between;
        overflow: hidden;

        @media (max-width: 440px) {
          padding: 20px;
          flex-direction: column;
        }

        button {
          position: absolute;
          bottom: 30px;
          z-index: 22;

          @media (max-width: 440px) {
            position: static;
            margin: 20px 0 32px 0;
          }
        }

        .uzor {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          opacity: 0.06;
          z-index: 1;

          transform: scale(1.1);
        }

        img {
          position: relative;
          z-index: 2;
        }

        .about__blocks-muted {
          color: #fff;
          position: relative;
          z-index: 2;
        }
        .about__blocks-title {
          color: #fff;
          position: relative;
          z-index: 2;
        }
        .about__blocks-subtitle {
          color: #fff;
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  // .about__blocks-item

  &__blocks-item {
    &:hover {
      transform: scale(1.004);
    }
  }

  // .about__blocks-muted

  &__blocks-muted {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(----primary);
  }

  // .about__blocks-title

  &__blocks-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;

    margin: 12px 0 10px 0;
    padding-top: 12px;

    border-top: 1px solid rgb(204, 204, 204);
  }

  // .about__blocks-subtitle

  &__blocks-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
    max-width: 320px;
  }
}

.img-md {
  position: relative;
  z-index: -2;

  @media (max-width: 440px) {
    position: static;
  }
}

.about__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #737373;

  max-width: 320px;
  margin: 20px 0 0 0;
}
