.banner {
  position: relative;

  background: linear-gradient(90deg, #03a 0%, #638ae2 100%);

  padding: 24px 0;
  transform: rotate(-1deg);

  margin: 60px 0 68px 0;

  @media (max-width: 1280px) {
    padding: 18px 0;
  }

  @media (max-width: 440px) {
    padding: 16px 0;
    margin: 30px 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, #03a 0%, #638ae2 100%);
    opacity: 0.4;
    z-index: -1;
    top: 20px;
    transform: rotate(2.5deg);
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: clamp(1.125rem, 0.938rem + 0.68vw, 1.5rem);
      color: #fff;

      @media (max-width: 1280px) {
        font-size: 16px;
      }

       @media (max-width: 440px) {
        font-size: 12px;
      }
    }
  }
}

.banner-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: banner-scroll 40s linear infinite;

  @media (max-width: 440px) {
    animation: banner-scroll 15s linear infinite;
  }

  .item {
    display: flex;
    white-space: nowrap;
    gap: 40px;

    @media (max-width: 440px) {
      gap: 24px;
    }
  }
}

/* Анимация */
@keyframes banner-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
