.faq {
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: 440px) {
    margin-bottom: 30px;
  }

  .section-title {
    max-width: 920px !important;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(2rem, 1.67rem + 1.2vw, 2.75rem);
    line-height: 135%;
    text-align: center;
    color: #171717;

    margin: 0 auto;
    margin-bottom: 18px;

    span {
      background: linear-gradient(90deg, #556beb 0%, #0521c4 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: clamp(0.875rem, 0.765rem + 0.4vw, 1.125rem);
    line-height: 165%;
    text-align: center;
    color: #000;

    max-width: 582px;
    text-align: center;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-top: 40px;

    @media (max-width: 440px) {
      margin-top: 28px;
      gap: 14px;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: clamp(1rem, 0.89rem + 0.4vw, 1.25rem);
      line-height: 154%;
      letter-spacing: -0.01em;
      color: #151515;
    }

    &-subtitle {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: clamp(0.75rem, 0.667rem + 0.3vw, 0.938rem);
      line-height: 151%;
      letter-spacing: -0.02em;
      color: #242424;

      margin-top: 24px;
      max-width: 440px;
      display: none;
    }

    &-item {
      background: #e0e0e0;
      cursor: pointer;
      width: 100%;

      padding: 24px;
      border-radius: 12px;

      @media (max-width: 440px) {
        border-radius: 8px;
        padding: 20px;
      }

      &.active {
        background: linear-gradient(90deg, #556beb 0%, #0521c4 100%);

        .faq__list-title {
          color: #fff;
        }
        .faq__list-subtitle {
          color: #dbdbdb;

          display: block;
        }
      }
    }
  }
}
