.footer {
  background: linear-gradient(90deg, #556beb 0%, #0521c4 100%);
  padding: 100px 0 0 0;

  @media (max-width: 768px) {
    padding: 30px 0 0 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      display: inline-flex;

      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;

      border-top: 1px solid #ffffff88;
      border-bottom: 1px solid #ffffff88;

      width: 100%;
      padding: 20px 0;
    }
  }

  &__list-link {
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    @media (min-width: 1080px) {
      &:hover {
        opacity: 0.4;
      }
    }
  }

  &__inner {
    padding: 60px 0 0 0;

    border-top: 1px solid #ffffff88;

    @media (max-width: 768px) {
      border-top: none;

      padding: 10px 0 0 0;
    }

    .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
      }

      @media (max-width: 440px) {
        gap: 20px;
      }
    }

    .bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      margin-top: 52px;

      border-top: 1px solid #ffffff88;

      padding: 60px 0;
      margin-top: 60px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        border-top: none;
        gap: 32px;

        padding: 20px 0 30px 0;
        margin-top: 10px;
        text-align: left;
        justify-content: flex-start;
      }

      @media (max-width: 440px) {
        gap: 14px;

        padding: 20px 0 16px 0;
      }
    }

    .top-info {
      margin-bottom: 32px;
      max-width: 320px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .bottom-info {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      @media (max-width: 768px) {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: 1080px) {
      &:hover {
        opacity: 0.4;
      }
    }

    @media (max-width: 440px) {
      gap: 12px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: #fff;
      font-size: 16px;

      @media (max-width: 440px) {
        font-size: 14px;
      }
    }
  }
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}
