.form {
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(2rem, 1.45rem + 2vw, 3.25rem);
    line-height: 135%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 32px;

    margin-top: 60px;

    @media (max-width: 440px) {
      text-align: left;
    }

    span {
      background: linear-gradient(90deg, #7287ff 0%, #081876 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__inner {
    .end {
      background-image: url("../images/form.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 32px;

      padding: 30px;
      position: relative;

      @media (max-width: 440px) {
        padding: 12px 20px 20px 20px;
        border-radius: 16px;
      }
    }
  }
}

.content-inner {
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  gap: 40px;

  backdrop-filter: blur(380px);
  background: rgba(255, 255, 255, 0.04);

  border: 2px solid rgba(10, 13, 23, 0.05);
  border-radius: 20px;
  padding: 20px;

  @media (max-width: 1280px) {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 860px) {
    gap: 20px;
    grid-template-columns: 1fr;

    display: flex;
    flex-direction: column-reverse;
  }

  @media (max-width: 440px) {
    padding: 0;
    border: none;

    background-color: #fff;
  }
}

.user-form__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #000;

  margin-bottom: 44px;

  @media (max-width: 1080px) {
    margin-bottom: 20px;
  }
}

.form-section__input.twice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;

  .item {
    margin-bottom: 20px;
  }
}

.form-section__input {
  .item {
    margin-bottom: 20px;
  }

  input {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(178, 178, 178, 0.2);
    border-radius: 6px;

    background: rgba(0, 0, 0, 0.05);

    padding: 14px 14px;

    width: 100%;

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  textarea {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(178, 178, 178, 0.2);
    border-radius: 6px;

    background: rgba(0, 0, 0, 0.05);

    padding: 14px 14px;

    width: 100%;

    resize: none;
    height: 120px;
    outline: none;

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #0d0d0d;

    margin-bottom: 8px;
  }
}

.form-section__dropdown {
  position: relative;

  .dropdown__items {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;

    position: absolute;
    top: 100%;

    z-index: 102;
    width: 100%;

    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    button {
      padding: 18px 14px;
      width: 100%;
      background: #e6e6e6;
      text-align: left;

      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #616161;

      display: block;

      &:hover {
        background: #b1b1b1;
        color: #fff;
      }
    }
  }
}

.orm-section__dropdown:hover {
  .dropdown__items {
    transform: translateY(2px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.form__info_list-title {
  .bottom {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.form__info_list-item {
  .bottom {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 46px;
    min-height: 46px;

    background: #fff;
    border-radius: 100px;
  }
}

.form__info_list-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;

  margin-bottom: 16px;
  margin-top: 20px;
}

.form__info_list {
  max-width: 320px;
}

.form__info-subtitle {
  position: absolute;
  bottom: 30px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.765rem + 0.4vw, 1.125rem);
  color: #fff;
  opacity: 0.7;

  max-width: 320px;

  @media (max-width: 860px) {
    position: static;
    margin-top: 100px;
  }
}
