@import "./reset.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./menu-phone.scss";

// @import "./animation.scss";
@import "./hero.scss";
@import "./banner.scss";
@import "./about.scss";
@import "./testimonials.scss";
@import "./process.scss";
@import "./form.scss";
@import "./faq.scss";
@import "./footer.scss";

@import "./footer.scss";
