.menu-phone {
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  z-index: 100;
  background-color: #2c3985;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.4s ease-in-out;

  &.active {
    left: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: block;
    padding: 20px 0;
    color: #fff;

    &:not(:last-child) {
      border-bottom: 1px solid #cccccc;
    }
  }

  &__list-link {
    color: #fff;
    font-weight: 300;
  }

  button {
    .text {
      width: 100%;
    }

    .icon {
      min-width: 52px;
    }
  }
}

.btn-menu {
  display: none;

  svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 860px) {
  .btn-menu {
    display: block;
  }
}
